<section class="second-component">
	<mat-label>{{nameDropdown}}</mat-label>
	<mat-form-field>
		<mat-select [formControl]="toppingsControl" multiple (closed)="closePanel()">
			<mat-select-trigger>
				{{ toppingsControl.value.join()  }}
				<!-- <div *ngFor="let topping of toppingsControl.value">{{topping}}</div> -->
			</mat-select-trigger>
			<mat-option *ngFor="let topping of arrayDropdown" [value]="topping">{{topping}}</mat-option>
		</mat-select>
	</mat-form-field>

	<br />
	<mat-chip-list>
		<mat-chip *ngFor="let topping of toppingsControl.value" [removable]="true" (removed)="onToppingRemoved(topping)">
			{{ topping }}
			<mat-icon matChipRemove>cancel</mat-icon>
		</mat-chip>
	</mat-chip-list>
</section>