<section class="second-component ">
  <div class="example-container">
    <p> TLDs </p>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select >
        <mat-option value="option" *ngFor="let item of MyArrayType">{{item}}</mat-option>
      </mat-select>
      <!-- <mat-select>
        <mat-option value="option">item2</mat-option>
        <mat-option value="option">item2</mat-option>
        <mat-option value="option">item2</mat-option>
        <mat-option value="option">item2</mat-option>
      </mat-select> -->
    </mat-form-field>
  </div>
</section>