<section class="second-component ">
  <!-- <mat-slider *ngFor="let itemValueSlider of valueSlider" [(min)]="itemValueSlider.min" [max]="itemValueSlider.max" step="0.5" value="100"></mat-slider> -->
  <mat-slider 
  thumbLabel 
  [displayWith]="formatLabel" 
  [min]="min" 
  [max]="max" 
  step="0.5" 
  value="100"
  (change)="handleChangeSlider($event)"
  ></mat-slider>

  <div class="wrapper">
    <input type="text" [(ngModel)]="min" /> to
    <input type="text" [(ngModel)]="max" /> character
  </div>


</section>